* {
  margin: 0;
  padding: 0;
  font-family: arial;
}

.root {
  width: 30%;
  margin: 50px auto;
}

.form {
  background-color: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.input {
  height: 10px;
  border-radius: 5px;
  border: none;
  padding: 20px;
  margin: 8px;
}

.text-area {
  height: auto;
}

.file-input {
  color: white;
  padding: 10px;
  border: solid 1px white;
  margin: 8px;
}

.btn {
  cursor: pointer;
  background-color: rgb(255, 82, 111);
  letter-spacing: 0.5rem;
  padding: 20px;
  text-align: center;
  border: none;
  color: white;
  margin: 8px;
}
